@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;
    }
    .third-section {
        display: none;
    }
}
@media screen and (max-width: 428px) {
    .third-section {
        display: none;
    }
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }.header-content {
        display: flex;
        align-items: center;
    }
    .mobile-menu-open-bttn {
        display: none;
    }

    .menu-content {
        display: inline-flex;
            gap: 40px;
     }
     .nav-menu {
        font-weight: 500;
        color: var(--main-color,#2E2F42);
        line-height: 1.5;
        letter-spacing: 0.02em;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .logotype {
        margin-right: 76px;
 }
    .callout{
        padding: 24px 0;
     }
     .zero {
        margin-right: 0;
     }



     .contacts-content {
        margin: auto;
             }
             .inline {
                display: flex;
                gap: 40px;
             }
             .adress-item {
                color: var(--second-color, #434455);
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
                .h-address {
                    font-style: normal;
                }

    .section {
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .solutions {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tablet.jpg);
    /* width: 768px; */
    }
    @media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {
    .solutions {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tablet@2x.jpg);
    }
 }
    .eff-sol {
      font-size: 56px;
         line-height: 1.07;
         width: 496px;
    }
    .bttn {
        margin-top: 36px;
    }
    
    .features {
        row-gap: 72px;
        column-gap: 24px;
        
    }
    .cube {
        display: none;
    }
    .element {
    flex-basis: calc((100% - 24px) / 2);
    
}
.points {
    text-align: left;
}
.third-section {
    display: none;
}
.pictures {
    margin-left: 92px;
    margin-right: 92px;
    row-gap: 64px;
        column-gap: 24px;
}
.name {
    text-align: center;
}
.avatar {
    flex-basis: calc((100% - 24px) / 2);
       
}
.customers {
    row-gap: 88px;
        column-gap: 24px;
        margin-left: 92px;
    margin-right: 92px;
}
.emblem {
    flex-basis: calc((100% - 48px) / 3);
}

.footer-container { 
    display: flex;
   flex-wrap: wrap;
   gap: 24px;
   padding: 0 108px;
}
.lp-cont {
   margin: 0;
}
.mark {
   padding-left: 0;
}
.sm-cont {
margin: 0;
}
.social-media-paragraph {
    text-align: left;
}
.social-media-list {
    margin: 0;
}

.footer-foorm-paragraph {
    margin-left: 0;
}
.footer-input {
    width: 264px;
}
.footer-form {
  display: flex;
    gap: 24px;  
}
.portfolio-section {
    padding-top: 64px;
        padding-bottom: 96px;
}

.main-type {
    flex-wrap: nowrap; 
   justify-content: center; 
    margin-bottom: 64px;
}

.portfolio-pict {
    column-gap: 24px;
    row-gap: 72px;
    
}
.li-pict {
     flex-basis: calc((100% - 24px) / 2);
     max-width: 356px;
}


}



@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        margin: 0 auto;
            padding: 0 15px;
    }
    




    .section {
        padding: 120px 0;
    }
    .solutions {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
    width: 1440px;
    }
    @media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {
    .solutions {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)), url(../images/hero-bg@2x.jpg);
    }
 }
    .hero {
        padding: 188px 0;
    }
    
    .bttn {
        margin-top: 48px;
    }
    .features {
        gap: 24px;
        display: flex;
        flex-wrap: nowrap;
        
    }
    .element {
    width: calc((100% - 72px) / 4); 
}

.cube {
    border-radius: 4px;
    background: var(--cloud, #F4F4FD);
    display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        margin-bottom: 8px;
}
.icons-point {
    margin: 24px 100px;
}

.third-section {
    padding-bottom: 120px;
  }

.title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-color,#2E2F42);
    text-align: center;
}
.pict-title{
    margin-bottom: 72px; 
}


.illustration {
width: calc((100% - 48px) / 3);
}
.pictures {
    gap: 24px;
        display: flex;
        flex-wrap: nowrap;
        margin: 0;  
}
.avatar {
    flex-basis: calc((100% - 72px) / 4);
}
.customers {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
    margin: 0;
}
.emblem {
    flex-basis: calc((100% - 120px) / 6);
}
.footer-container { 
        display: flex;
       align-items: baseline;
       flex-wrap: nowrap;
       gap: 0;
    }
    .down-cont {
        padding: 100px 0;
    }
    .lp-cont {
       margin-right: 120px; 
    }
    .social-media-list {
        margin-right: 80px;
    }
    
    .footer-form {
        display: flex; 
         gap: 24px;
    }
    .portfolio-section {
        padding-top: 96px;
        padding-bottom: 120px;
    }
    .main-type {
        justify-content: center;
        margin-bottom: 72px;
        flex-wrap: nowrap;
    }
    .portfolio-pict {
        column-gap: 24px;
    row-gap: 48px;
    }
    .li-pict {
        flex-basis: calc((100% - 48px) / 3); 
       max-width: 360px;
    }


}

 